{% extends 'base_logged.html' %} {% block 'content' %}


<a class="btn btn-outline-primary my-3 d-block" href="{% url 'teacher:add_assignment' %}">Add Assignment</a>


<div class="list-group">
  {% for assignment in assignments %}

  <a
    href="{% url 'teacher:submissions' slug=assignment.slug %}"
    class="btn {% if assignment.submitted == 1 %} btn-outline-primary {% else %} btn-outline-success {% endif %}"
  >
    <h4>{{assignment.title}} - <b>{{assignment.num}}</b> Submissions</h4> 

    <div class="float-right">{{assignment.subject.name}}</div>
  </a>

  {% endfor %}
</div>

{% endblock 'content' %}
